doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title plantilla pug 
    body
        each element in albums
            ul
                li= element.title
                li= element.autor 
                li= element.price  
            
        form(action="/home" method="post")
            button Añadir 