//- <form action="/users" method="post">
//-     <label>Title:</label>
//-     <input name="title">
//-     <label>Autor:</label>
//-     <input name="autor">
//-     <label>Price:</label>
//-     <input name="price">
//-     <label>Thumbnail:</label>
//-     <input name="thumbnail">
//-     <button>Enviar</button>
//- </form>
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title productos
    body 
        form(action="/users" method="post")
            label Title:
            input(name="title")
            label Autor:
            input(name="autor")
            label Price:
            input(name="price")
            label Thumbnail:
            input(name="thumbnail")
            button Enviar